@import url(https://fonts.googleapis.com/css?family=Alata:regular);
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,300italic,regular,italic,700,700italic,900,900italic');

.cadreCreationRecette
{
    border-left: 1px solid #dbd8cf;
}
.ml-6
{
    margin-left: 3rem !important;
}

.cadre{
    border: solid 1px; ;
}
